<app-toolbar></app-toolbar>
<div class="container" style="margin-top: 30px" >
  <div class="row">
    <div class="col s12 m4 l3">
      <app-side></app-side>
    </div>
    <div class="col s12 m8 l9">
      <div class="row">
        <div class="col s12">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Upload Image</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="item-img-wrap imgDiv">
            <img class="imgCircle" src="http://placehold.it/50x50">
            <button class="btn imgBtn">Set as profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
