<div class="row">
  <div class="col s12">
    <div class="row card">
      <div class="valign-wrapper" style="background: #64b5f6;">
        <div class="col s12 imgCol">
          <img *ngIf="receiverData" src="https://res.cloudinary.com/dkqx63bec/image/upload/v{{receiverData.picVersion}}/{{receiverData.picId}}" class="imgCircle">
        </div>
        <div class="row">
          <div class="col s10 nameCol">
            <span>{{receiver}}
              <p class="isOnline" *ngIf="isOnline">Online</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 rowDiv" ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <div class="row">
      <div class="col s12">
        <div class="message-wrapper" *ngFor="let messageEl of messages">
          <div class="left" *ngIf="user.username !== receiver && user.username !== messageEl.senderName">
            <div class="chat-bubble left slide-left">
              <div class="message">{{messageEl.body}}</div>
            </div>
          </div>
          <div class="right" *ngIf="user.username === messageEl.senderName">
            <div class="chat-bubble right slide-right">
              <div class="message">{{messageEl.body}}</div>
            </div>
          </div>

          <div class="cf"></div>
        </div>
        <div class="left" *ngIf="typing">
          <div class="chat-bubble left slide-left">
            <div class="message">{{receiver}} is typing...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12" style="margin: 0px;">
    <div class="row">
      <div class="card cardFooter" style="min-height: 55px;">
        <div class="inputRow">
          <form (ngSubmit)="SendMessage()">
            <div class="input-field col s9 m9 inputField">
              <textarea name="message" [(ngModel)]="message" (keypress)="IsTyping()" class="materialize-textarea inputBox"></textarea>
            </div>
            <div class="input-field col s3 m1 emojiDiv" >
              <button class="emojiBtn" (click)="Toggled()" style="cursor: pointer;">😄</button>
              <div class="emoji-content-editable"
                  (emojiPickerCaretEmitter)="HandleCurrentCaret($event)"
                  (input)="content = $event.target.textContent"
                  [textContent]="content"
                  contenteditable="true">
              </div>
              <i
                  class="emoji-toggle-button imgBtn"
                  [(emojiPickerIf)]="toggled"
                  [emojiPickerPreserveSelection]="false"
                  [emojiPickerDirection]="direction"
                  [emojiPickerAutofocus]="true"
                  (emojiPickerSelect)="HandleSelection($event)"></i>
            </div>
            <div class="input-field col s12 m2 center">
              <button class="suffix btn">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
