<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a (click)="GoToHome()" class="brand-logo">Chat App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="dropdown-trigger btn" data-traget="dropdown">
          <i class="fa fa-globe fa-1x badge"></i>
          <span class="nav-label-icon">2</span>
          <ul id="dropdown" class="dropdown-content col s12 collection">
            <li class="collection-item avatar"><a href="#!">one</a></li>
            <li class="collection-item avatar"><a href="#!">two</a></li>
            <li class="collection-item avatar" class="divider" tabindex="-1"></li>
            <li class="collection-item avatar"><a href="#!">three</a></li>
            <li class="collection-item avatar"><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li class="collection-item avatar"><a href="#!"><i class="material-icons">cloud</i>five</a></li>
          </ul>
        </li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <div class="nav-div">
        <img src="https://via.placeholder.com/50x50" class="circle responsive-img">
      </div>
      <h1 class="profile-name">{{user.username}}</h1>
      <p class="user-text">This is a test</p>
    </div>
  </div>
</nav>
