.button {
  background: none;
  border: none;
  height: 10px;
}

.liked {
  color: #64b5f6;
}

.title {
  font-weight: bold;
  color: #64b5f6;
}

.time {
  font-size: 14px;
  color: #666565;
}

.iconSpan {
  font-size: 18px;
  line-height: 18px;
  margin-right: 5px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  cursor: pointer;
}

.postImage {
  width: 100%;
  margin: 0 auto;
  left: 20px;
  top: 10px;
}

.card-image {
  width: 200px;
  height: auto;
}

.active {
  width: 350px;
  height: 350px;
  border-radius: none;
  margin: -150px 0px 0px 120px;
}

.collection {
  border: none;
}

.collection-item {
  border: none;
}

.postDiv {
  background-color: #64b5f6 !important;
}

form {
  background-color: #fff;
}

.formDiv {
  margin: 0 20px 0 20px;
}

.addImageBtn {
  margin-bottom: 5px;
}

.postBtn {
  float: right;
  margin-bottom: 5px;
  margin-top: 1rem;
  height: 3rem;
  line-height: 3rem;
}



.file-field input[type="file"] {
  width: 70%;
}
