<ul class="collection col s12 m12 l10">
  <li class="collection-item avatar" *ngFor="let post of posts">
    <img src="https://res.cloudinary.com/dkqx63bec/image/upload/v{{post.user.picVersion}}/{{post.user.picId}}" alt="Avatar" class="circle">
    <span class="title">{{post.username}}</span>
    <p class="time">{{TimeFromNow(post.created)}} <br>
       @{{post.user.city}}, {{post.user.country}}
    </p>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image" *ngIf="post.imgId">
            <img class="postImage" src="https://res.cloudinary.com/dkqx63bec/image/upload/v{{post.imgVersion}}/{{post.imgId}}">
          </div>
          <div class="card-content">
            <p>{{post.post}}</p>
          </div>
          <div class="card-action">
            <i class="material-icons" [ngClass]="(!CheckInArray(post.likes, user.username)) ? 'notLiked' : 'liked'" (click)="LikePost(post)">thumb_up</i>
            <span class="iconSpan">{{post.totalLikes}}</span>
            <i class="material-icons" [ngClass]="(!CheckInArray(post.comments, user.username)) ? 'notLiked' : 'liked'" (click)="OpenCommentBox(post)">chat</i>
            <span class="iconSpan">{{post.comments.length}}</span>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="row" *ngIf="!noMoreOrders">
  <div class="col s12 center">
    <button
      class="btn"
      (click)="LoadMore()"
    >
      Show more
    </button>
  </div>
</div>

